.marquee {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}
.marquee-content {
  display: inline-block;
  margin-top: 5px;
  animation: marquee 100s linear infinite;
}
.item-collection-1 {
  position: relative;
  left: 0%;
  animation: swap 100s linear infinite;
}
@keyframes swap {
  0%, 50% {
    left: 0%;
  }
  50.01%,
  100% {
    left: 100%;
  }
}
.marquee-content:hover {
  animation-play-state: paused
}
.item1 {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}

@keyframes marquee {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-100%)
  }
}